<!-- templates/registration/login.html -->
<html>
<body class="body2">
{% load static %}
    <link rel="stylesheet" href="{% static  'css/style.css' %}"/>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<center>


{% block title %}{% endblock %}

{% block content %}
<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">

    <div class="card-header">
        <br>

        <h3>Accéder à Votre Compte</h3>
        <h3>test for ci/cd ny using ngrok</h3>


        <br>
<br>

<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
    <div class="form-group">
    <form action="/accounts/login" >
            <input type="submit"  class="btn float-right login_btn" value="Login">
    </form></div>


<br>
<br>

{% endblock %}
</form>
    </div>
</div>
</div>
</div>
</center>


        </body>
</html>

<!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
<!--<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>-->
<!--<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
<!--&lt;!&ndash;&#45;&#45;&#45;&#45; Include the above in your HEAD tag &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->

<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--	<title>Login Page</title>-->
<!--   &lt;!&ndash;Made with love by Mutiullah Samim &ndash;&gt;-->
<!--   -->
<!--	&lt;!&ndash;Bootsrap 4 CDN&ndash;&gt;-->
<!--	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">-->
<!--    -->
<!--    &lt;!&ndash;Fontawesome CDN&ndash;&gt;-->
<!--	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">-->

<!--	&lt;!&ndash;Custom styles&ndash;&gt;-->
<!--	<link rel="stylesheet" type="text/css" href="styles.css">-->
<!--</head>-->
<!--<body>-->
<!--<div class="container">-->
<!--	<div class="d-flex justify-content-center h-100">-->
<!--		<div class="card">-->
<!--			<div class="card-header">-->
<!--				<h3>Sign In</h3>-->
<!--				<div class="d-flex justify-content-end social_icon">-->
<!--					<span><i class="fab fa-facebook-square"></i></span>-->
<!--					<span><i class="fab fa-google-plus-square"></i></span>-->
<!--					<span><i class="fab fa-twitter-square"></i></span>-->
<!--				</div>-->
<!--			</div>-->
<!--			<div class="card-body">-->
<!--				<form>-->
<!--					<div class="input-group form-group">-->
<!--						<div class="input-group-prepend">-->
<!--							<span class="input-group-text"><i class="fas fa-user"></i></span>-->
<!--						</div>-->
<!--						<input type="text" class="form-control" placeholder="username">-->
<!--						-->
<!--					</div>-->
<!--					<div class="input-group form-group">-->
<!--						<div class="input-group-prepend">-->
<!--							<span class="input-group-text"><i class="fas fa-key"></i></span>-->
<!--						</div>-->
<!--						<input type="password" class="form-control" placeholder="password">-->
<!--					</div>-->
<!--					<div class="row align-items-center remember">-->
<!--						<input type="checkbox">Remember Me-->
<!--					</div>-->
<!--					<div class="form-group">-->
<!--						<input type="submit" value="Login" class="btn float-right login_btn">-->
<!--					</div>-->
<!--				</form>-->
<!--			</div>-->
<!--			<div class="card-footer">-->
<!--				<div class="d-flex justify-content-center links">-->
<!--					Don't have an account?<a href="#">Sign Up</a>-->
<!--				</div>-->
<!--				<div class="d-flex justify-content-center">-->
<!--					<a href="#">Forgot your password?</a>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->
