
<div class="container-fluid">
    <div class="title">
    </div>
      <div class="col-lg-12 well">
       <div class="row">
         <div class="col-lg-12 ml-auto mr-auto">
            <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center">id</th>
                        <th> ip_address</th>

                        <th> nature</th>
                        <th>date_panne</th>
                        <th>date_reparation</th>

                        <th>technicien</th>

                        <th>remarque</th>

                        <th class="text-right">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let panne of pannes | async; let i=index">
                        <td class="text-center">{{panne.id}}</td>

                         <td>{{panne.ip}}</td>
                         <td>{{panne.idf}}</td>
                         <td>{{panne.nature}}</td>
                         <td>{{panne.date_panne}}</td>
                         <td>{{panne.date_reparation}}</td>
                          <td> {{panne.technicien}}</td>
                          <td>{{panne.remarque}}</td>
                        <td class="td-actions text-right">
                           <a
                           [routerLink]="['/edit_panne',panne.id]"
                           class="btn btn-success btn-sm">
                       <span class="glyphicon glyphicon-pencil"></span> Modifier


                           </a>
                            <button (click)="deletepanne(panne.id)" class="btn btn-danger btn-sm">
                       <span class="glyphicon glyphicon-remove"></span> Remove
                            </button>
                        </td>
                    </tr>
                 <tr>
                       <div class="text-right">
                         <td>        </td>
                      <td>

                           <a
                           [routerLink]="['/add_panne']"
                           class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-plus"></span>Ajouter

                           </a>
                      </td>
                       </div></tr>
                </tbody>
            </table>
            </div>
     </div>
  </div>
  </div>
</div>
